nnets:

  EMB_SIZE: 512
  NHEAD: 8
  FFN_HID_DIM: 512
  BATCH_SIZE: 32
  NUM_ENCODER_LAYERS: 3
  NUM_DECODER_LAYERS: 3
  TRAIN_DATA: "../learn-graph/data/test_train.txt" # train data for nnets
  TEST_DATA: "../learn-graph/data/test_benchmark.csv" # test data for nnets
  VOCAB_TRAFO: "resources/vocab_transform.pickle" # vocab trafo
  MODEL_PATH: "data/model_basic_epoch_20.pt"
  ONNX_DIR: "resources/"
  

transliteration:

  SRC_LAN: "source"
  TGT_LAN: "transliterated"

  # From NNets
  VOCAB_TRAFO: "../python-nnets-torch/resources/vocab_transform.yaml" # vocab trafo
  ONNX_RUBY_DIR: "../python-nnets-torch/resources/"
  
  # For Diagram to code
  preprocessData: false
  SOURCECHARS: "ابپتثجچحخدذرزژسشصضطظعغفقکگلمنوهی "
  TARGETCHARS: "ACMSXZabcdefghijklmnopqrstuvwxyz "
  window: 6
  onnx_path: "../resources"
  space: 4
  max_str_len: 100
  vocab_transform: "../resources/vocab_transform.yaml"
  TRAIN_DATA: "../learn-graph/data/test_train.txt"
  SPECIALSYMBOLS:
    - "<unk>"
    - "<pad>"
    - "<bos>"
    - "<eos>"
